.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
  margin-left: 2%;
  margin-right: 2%;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout__ad {
  max-width: 100%;
  max-height: 200px;
}
